body{
    background-color:rgb(43, 39, 39);
}
h1{
    margin-left: 20px;
}
header{
    padding-left:120px;
    padding-right: 120px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color:rgb(43, 39, 39);
    color:rgb(206, 195, 195);
    
}
.navbar{
    margin-left: 20px;
    background-color: rgb(29, 27, 27);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 960px
}

ul {
    list-style: none;
    display: inline;
   
}

li{
    display:inline-block;
    padding-right:15px
}


.content{
    background-color: #fff;
    width: 960px;
    margin-left: 20px;
    padding-left:120px;
    padding-right: 120px;
    padding-top: 40px;
}

p{
    background-color: rgb(233, 230, 230);
    padding:10px;
    color: rgb(148, 144, 144);
}
h4{
    color: rgb(148, 144, 144);
    font-weight: bold;
}
hr{
    opacity: .2;
}
.gridimg{
  width: 215px;
  height: 315px;
    padding: 2px
}
.images{
    border: 2px solid rgb(175, 180, 175);
    display:inline-block;
    margin-right: 15px;
    margin-top: 20px;
    
}

#lastimg{
    border: 2px solid rgb(175, 180, 175);
    display:inline-block;
    margin-right: 0px;
} 
.para{
    color:rgb(156, 156, 156);

}

.caption{
    display: block;
    background-color: rgb(211, 209, 209);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
   margin-bottom: 2px;
  
}


footer{
    padding-left:120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgb(43, 39, 39);
    color:rgb(206, 195, 195);
}

.foot{
    float: right;
    padding-left: 450px;
}
