* {
    margin: 0 auto;
    padding: 0;
}


.wrapper {
    width: 80%
}


header {
    background-color: rgb(170, 165, 165);
    padding: 50px 0;


}



#navbar>li {


    display: inline;
    padding: 0 40px;

}

#navbar {

    float: right;
    line-height: 50px;
    list-style-type: none;


}

li:hover {
    color: rgb(238, 32, 135)
}

.dropbtn {
    background: url('sources/mobile/mobile-menu.png');
    height: 50px;
    width: 50px;
}

.dropdown {
    float: right;
    /* overflow: hidden; */
    display: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    right: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



#cover {
    width: 100%;
}



.wallpaper {

    position: relative;
}

#freezimg {
    background: url("sources/icons.png") 0px -128px;
    position: relative;
    width: 156px;
    height: 160px;
    list-style-type: none;
}

#freeztext {
    position: absolute;
    top: 50px;
    left: 40px;
    color: #fff;
}

.freezRound {
    position: absolute;
    right: 20%;
    bottom: 15%;
}





#fb {
    background: url('sources/icons.png') 0 0;
    width: 30px;
    height: 30px;
}

#gplus {
    background: url('sources/icons.png') 0 -32px;
    width: 30px;
    height: 30px;
}

#pinterest {
    background: url('sources/icons.png') 0 -64px;
    width: 30px;
    height: 30px;
}

#twitter {
    background: url('sources/icons.png') 0 -96px;
    width: 30px;
    height: 30px;
}

#flavours {
    background: url('sources/icons.png') 0 -280px;
    width: 80px;
    height: 43px;
    display: inline-block;


}

#location {
    background: url('sources/icons.png') 2px -327px;
    width: 80px;
    height: 41px;
    display: inline-block;

}

#products {
    width: 80px;
    height: 36px;
    display: inline-block;
    background: url('sources/icons.png') 0px -376px;

}

#story {
    background: url('sources/icons.png') 0px -418px;
    width: 80px;
    height: 43px;
    display: inline-block;

}

.newProductContents {
    position: relative;
    padding: 50px 0;
    overflow: hidden;

}


.newProduct {
    background-color: rgb(229, 226, 226);
}


.newProductTextInner {
    text-decoration: underline;

}



h3 {
    color: rgb(95, 91, 91);
    display: inline-block;
}

h2 {
    color: #CD39A0;
    font-family: 'Cardo', serif;
    font-size: 30px;
    display: inline-block;

}

#newProductimg {
    position: absolute;
    right: 0;
    bottom: 0;

}

.lowerNavContents {
    background-color: #A2E202;
    position: relative;
    color: white;
}


.lowerNav {
    list-style-type: none;
    padding: 40px 0;
}

.lowerNav li {
    display: inline-block;
    margin: 0 100px 0 60px;
    font-weight: bold;

}

#lastLowerNav {
    margin: 0 0 0 60px
}




footer {
    background-color: #CD39A0;
    text-align: center;
    color: #fff;
    padding: 40px 0;
}



.shareNav {
    list-style-type: none;
    margin-bottom: 25px;

}

.shareNav li {
    display: inline-block;
    margin-right: 25px;
}





@media screen and (max-width: 768px) {



    #navbar {
        display: none;

    }

    .header {
        position: relative;

    }

    .logo {
        position: absolute;
        left: 40%;
        display: block;

    }

    .headerContents {
        padding: 20px 0;
    }


    .dropdown {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px
    }

    .wallpaperContents {
        padding: 50px 0;
    }

    .freezRound {
        right: 35%;
        bottom: -2%;
    }

    .newProductContents {
        padding: 50px 0 0 0;
        width: 100%
    }

    .newProducttextContent {
        margin-left: 30px;
    }


    #newProductimg {

        position: static;
        display: block;
        width: 100%;
    }

    .lowerNav {
        text-align: center
    }


    .lowerNav li {
        margin: 0 0 20px 0;
        display: block;

    }

    #lastLowerNav {
        margin: 0
    }


    footer {
        padding: 80px 0;
    }

    .shareNav li {
        margin: 0 10% 20px 40px;
    }









}