body {
    margin: 0 auto;
}


.nine60 {
    widows: 80%
}


header {
    background-color: rgb(170, 165, 165);
    padding: 50px;


}



#navbar>li {


    display: inline;
    padding: 40px
}

#navbar {

    float: right;
    list-style-type: none;


}

#navbar li:hover {
    color: rgb(238, 32, 135)
}





#cover {
    width: 100%;

}



.wallpaper {
    width: 100%;
    position: relative;
}

#freezimg {
    background: url("sources/icons.png") 0px -128px;
    position: relative;
    width: 156px;
    height: 160px;
    list-style-type: none;
}

#freeztext {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #fff;
}

.freezRound {
    position: absolute;
    right: 20%;
    bottom: 10%;
}





#fb {
    background: url('sources/icons.png') 0 0;
    width: 30px;
    height: 30px;
}

#gplus {
    background: url('sources/icons.png') 0 -32px;
    width: 30px;
    height: 30px;
}

#pinterest {
    background: url('sources/icons.png') 0 -64px;
    width: 30px;
    height: 30px;
}

#twitter {
    background: url('sources/icons.png') 0 -96px;
    width: 30px;
    height: 30px;
}

#flavours {
    background: url('sources/icons.png') 0 -280px;
    width: 80px;
    height: 43px;

}

#location {
    background: url('sources/icons.png') 20px -327px;
    width: 80px;
    height: 41px;
}

#products {
    background: url('sources/icons.png') 0px -376px;
    width: 80px;
    height: 36px;
}

#story {
    background: url('sources/icons.png') 0 -418px;
    width: 80px;
    height: 43px;
}

.newProduct {
    background-color: rgb(229, 226, 226);
    position: relative;
    padding: 2%;

}




h3 {
    color: rgb(95, 91, 91)
}

h2 {
    color: #CD39A0;
    font-family: 'Cardo', serif;
    font-size: 30px;

}

#newProductimg {
    position: absolute;
    right: 12.5%;
    bottom: 0;
}

.lowerNavContents {
    background-color: #A2E202;
    padding: 10px;
    position: relative;
    color: white;
}

.inner li:hover {
    color: rgb(235, 21, 153);
}


.lowerNav>li {
    display: inline-block;
    padding: 80px;

}

.inner>li {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;

}


footer {
    background-color: #CD39A0;
    text-align: center;
    color: #fff;
    padding: 5%
}

#footerText {
    margin-left: 50px
}

.shareNav {
    list-style-type: none
}

.shareNav>li {
    display: inline-block;
}


.dropbtn {
    background: url('sources/mobile/mobile-menu.png');
    height: 50px;
    width: 50px;
}

.dropdown {
    float: right;
    /* overflow: hidden; */
    display: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}




@media screen and (max-width: 832px) {


    #navbar {
        display: none;

    }

    .dropdown {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px
    }


    .freezRound {
        position: static;
        display: block;
        margin-left: 35%
    }

    #newProductimg {
        position: static;
        display: block;
        width: 100%;
    }

    header {
        position: relative;
    }


    .logo {
        position: absolute;
        right: 30%;
        bottom: 20%;
        display: block;

    }

    .headerContents {
        padding: 20px
    }

    .lowerNav>li {
        display: block;

    }

    .nine60 {
        margin: 0;
    }




}