button {
    display: inline;
    border: 1px;
    border-radius: 5px;
    padding: 7px 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px
}

#q1 {
    background-color: rgb(187, 171, 230);
}

#q2 {
    background-color: rgb(157, 203, 211);
}

#q3 {
    background-color: rgb(137, 187, 137);
}

#q4 {
    background-color: rgb(218, 157, 175);
}